/* 添加高亮效果的CSS样式 */
.search-highlight {
    animation: highlightEffect 1s infinite;
  }
  
  @keyframes highlightEffect {
    0% {
      color: red;
    }
    50% {
      color: #ff9999;
    }
    100% {
      color: red;
    }
  }